:root {
    /* color palette */
    --clubNavy: #2A3B49;
    --greatHarbor: #2C3D56;
    --malletWhite: #DFE6DD;
    --beige: #E6DFDA;
    --gold: #BD9F71;
    --white: #fff;
    --grey: #c3c3c3;

    /*mood*/
    --mood-pri: #D5E4F5;

    /*mapping buddy*/
    --mapping-pri: #FFFFFF;

    /*map*/
    --geo-pri: var(--clubNavy);

    /*birthin*/
    --birthin-pri: #AEB9B8;

    /*stock*/
    --stock-pri: #242725;
}

@font-face {
    font-family: nimbus;
    src: url('/static/fonts/NimbusSanL-Reg.otf');
}

@font-face {
    font-family: caviar;
    src: url('/static/fonts/Caviar_Dreams_Bold.ttf');
}

@font-face {
    font-family: grotesk;
    src: url('/static/fonts/SpaceGrotesk-Regular.otf');
}



/* ----------------------------------------
   TAGS
   ---------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--white);
    font-family: grotesk, caviar;
  }

::-webkit-scrollbar { 
    width: 0 !important 
}


main {
    width : 100%;
    position : fixed;
    margin: 0;
    padding: 0;
}

main > div {
    scroll-snap-type: both mandatory;
}

h1 {
    font-family: grotesk;
}

h2 {
    font-family: grotesk;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: var(--clubNavy)
}

/* ----------------------------------------
   JS
   ---------------------------------------- */


.no-scroll {
    overflow: hidden;  
}

/* ----------------------------------------
   NAV
   ---------------------------------------- */

nav {
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 1;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-right: 5vw;
}

/* ----------------------------------------
   INTRODUCTION
   ---------------------------------------- */


.home {
    background-color: var(--white);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-intro {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-image {
    background-color: #222222;
    width: 175px;
    height: 175px;
    border-radius: 100%;
}

.home-links {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5%;
}

.home-links-stack {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-links-stack a {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
} 

.home-links-stack img{
    height: 60%;
    object-fit: contain;
}


/* ----------------------------------------
   WORKS - KANBAN BOARD
   ---------------------------------------- */

.works {
    background: rgb(255,255,255);
    background: linear-gradient(185deg, rgb(213, 231, 247) 0%, rgba(255,255,255,1) 40%, rgb(227, 228, 238) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#work-kanban {
    list-style-type:none;
    max-width: 1200px; 
    max-height: 600px;
    min-height:0;
    min-width:0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }


.rect-widget {
    width: 525px;
    height: 250px;
    border-radius: 20px !important;
    grid-column: span 2;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* box-shadow: inset 0px 0px 0px 2px black; */
}

.square-widget {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #2A3B49;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.square-widget img {
    width:75%;
}

/* STOCK WIDGET */

.stock-widget {
    background-color: var(--stock-pri);
    color: var(--white);
    font-family: nimbus;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.04em;
}

.stock {
    width: 90%;
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stock:hover {
    cursor: pointer;
}

.stock:not(:last-child) {
    border-bottom: 0.4px solid var(--grey);
}

.stock-ticker {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1em;
    margin-right: 2%;
}

    /* title */
.stock-ticker p:first-child {
    font-size: 1.1em;
    color: var(--white);
    font-weight: 1000;
}

    /* description */
.stock-ticker p:last-child {
    font-size: 0.8em;
    color: var(--grey);
}

.stock-graph {
    width: 25%;
    object-fit: cover;
    overflow: hidden;
}

    .stock-graph svg {
        width: 100%;
        height: 100%;
    }

.stock-price {
    width: 15%;
    text-align: right;
}

.stock-price p:first-child {
    font-size: 1.1em;
    color: var(--white);
    font-weight: 1000;
}

.stock-price p:last-child {
    font-size: 0.8em;
    color: var(--white);
}

/* MAP WIDGET */

.map-widget {
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--geo-pri);
    grid-row: span 2;
}

#map {
    border-radius: 20px;
}

.map-button {
    background-color: #8a8a8a;
    position: fixed;
    width: 40px;
    height: 40px;
    z-index: 3;
    border-radius: 100%;
    opacity: 0.3;
}

.map-button:hover {
    opacity: 0.8;
}

.map-button:active { 
    background-color: #f5f5f5;
    opacity: 1;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.right-button {
    transform: scale(-1,1);
}

.up-button {
    transform: rotate(90deg);
}

.down-button {
    transform: rotate(-90deg);
}

/* MOOD WIDGET */

.wellness-widget {
    background-color: var(--mood-pri);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAPPING BUDDY WIDGET */

.calendar-widget {
    background-color: var(--mapping-pri);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BIRTHIN WIDGET */

.business-widget {
    background-color: var(--birthin-pri);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BRAINHACK WIDGET */

.camera-widget {
    background-image: url("./static/images/xrperience.jpg");
    background-size: cover;
    background-position: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------------
   WORKS - POPUP
   ---------------------------------------- */
#works-popup {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    background-color: #FFFFFF;
    flex-direction: column;
}

#popup-content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    text-align: center;
}

#popup-back {
    height: 10vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    font-size: 1.2rem;
}

#popup-back:hover {
    cursor: pointer;
}

#popup-back p{
    margin-left: 10px;
}

.popup-title-container {
    width: 100%;
    margin-top: 5vh;
}

/* intro container */
.popup-project-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.popup-project-intro img {
    width: 35%;
}

/* general layout */
.popup-default {
    height: auto;
    width: 70%;
    display:flex;
    margin-bottom: 7.5vh;
}

/* layout 1 */
.popup-default-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popup-default-1 img{
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* layout 2 */
.popup-default-2 {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    text-align: center;
}

.popup-default-2 .popup-description{
    width: 90%;
}

.popup-default-2 img {
    width: 90%;
}


/* layout 3 */
.popup-default-3 {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    text-align: center;
}

.popup-default-3 img {
    width: 35%;
}

.left {
    text-align: left
}

.center {
    text-align: center;
}

.bold {
    font-weight: 800;
}

.popup-description {
    width: 50%;
}

.wide {
    width: 70%;
}


/* ----------------------------------------
   FOOTER - CONTACT ME
   ---------------------------------------- */


.contact {
    background-color: var(--white);
    height: 50vh;
}





