:root {
    /* color palette */
    --clubNavy: #2A3B49;
    --greatHarbor: #2C3D56;
    --malletWhite: #DFE6DD;
    --beige: #E6DFDA;
    --gold: #BD9F71;
    --white: #fff;
    --grey: #c3c3c3;

    /*mood*/
    --mood-pri: #D5E4F5;

    /*mapping buddy*/
    --mapping-pri: #FFFFFF;

    /*map*/
    --geo-pri: var(--clubNavy);

    /*birthin*/
    --birthin-pri: #AEB9B8;

    /*stock*/
    --birthin-pri: #AEB9B8;
}

@font-face {
    font-family: nimbus;
    src: url('/static/fonts/NimbusSanL-Reg.otf');
}


/* ----------------------------------------
   TAGS
   ---------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--beige);
  }

::-webkit-scrollbar { 
    width: 0 !important 
}


main {
    width : 100%;
    position : fixed;
    margin: 0;
    padding: 0;
}

main > div {
    scroll-snap-type: both mandatory;
}

p {
    margin: 0;
    padding: 0;
}

/* ----------------------------------------
   INTRODUCTION
   ---------------------------------------- */


.home {
    background-color: var(--beige);
    height: 100vh;
}

/* ----------------------------------------
   WORKS - KANBAN BOARD
   ---------------------------------------- */

.works {
    background: rgb(255,255,255);
    background: linear-gradient(185deg, rgb(213, 231, 247) 0%, rgba(255,255,255,1) 40%, rgb(227, 228, 238) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#work-kanban {
    list-style-type:none;
    max-width: 1200px; 
    max-height: 600; /* Fixed height to limit rows */
    display: grid; 
    grid-template-rows: repeat(1, minmax(0,250px)); 
    grid-template-columns: repeat(4, minmax(0,250px));
    grid-gap: 20px;
    min-height:0;
    min-width:0;
  }


.rect-widget {
    width: 525px;
    height: 250px;
    border-radius: 20px !important;
    grid-column: span 2;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    /* box-shadow: inset 0px 0px 0px 2px black; */
}

.square-widget {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #2A3B49;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.square-widget img {
    width:75%;
}

/* STOCK WIDGET */

.stock-widget {
    background-color: rgb(17, 34, 58);
    color: var(--white);
    font-family: nimbus;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stock {
    width: 95%;
    height: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.stock:not(:last-child) {
    border-bottom: 1px solid var(--grey);
}

.stock_ticker {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1em;
}

    /* title */
.stock_ticker p:first-child {
    font-size: 1em;
    color: var(--white);
    font-weight: 1000;
}

    /* description */
.stock_ticker p:last-child {
    font-size: 0.8em;
    color: var(--grey);
}

.stock_graph {
    width: 25%;
    overflow: hidden;
}

    .stock_graph svg {
        width: 100%;
        height: 100%;
    }

.stock_price {
    width: 25%;
}

/* MAP WIDGET */

.map-widget {
    overflow:scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--geo-pri);
    grid-row: span 2;
}

#map {
    /* width: auto;
    height: auto; */
    border-radius: 20px;
    transform: translateX(200px) translateY(100px);
}

/* MOOD WIDGET */

.wellness-widget {
    background-color: var(--mood-pri);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MAPPING BUDDY WIDGET */

.calendar-widget {
    background-color: var(--mapping-pri);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BIRTHIN WIDGET */

.business-widget {
    background-color: var(--birthin-pri);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* BRAINHACK WIDGET */

.camera-widget {
    background-image: url("./static/images/xrperience.jpg");
    background-size: cover;
    background-position: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------------
   FOOTER - CONTACT ME
   ---------------------------------------- */


.contact {
    background-color: var(--clubNavy);
    height: 50vh;
}





